<div class="cat-grid" *ngIf="localCats?.length; else loading">
  <mat-card *ngFor="let cat of localCats; trackBy: trackById" class="cat-card">
    <img mat-card-image [src]="cat.url" [alt]="cat.name" loading="lazy" />
  </mat-card>
</div>
<ng-template #loading>
  <app-loading class="loading"></app-loading>
</ng-template>
<div *ngIf="catsArrayByBreed">
  <mat-card *ngFor="let cat of catsArrayByBreed;trackBy: trackById" class="cat-card">
    <img mat-card-image [src]="cat.url" [alt]="cat.name" />
  </mat-card>
</div>