<div class="cat-grid" *ngIf="!isLoading">
  <mat-card *ngFor=" let cat of localCats; trackBy: trackById" class="cat-card">
  <img mat-card-image [src]="cat.url" [alt]="cat.name" loading="lazy" />
  </mat-card>
</div>
<div *ngIf="isLoading">
  <app-loading class="loading"></app-loading>
</div>

<!-- Block if API broke -->
<div class="errorBlock" *ngIf="errorData">
  <p>{{errorData}}</p>
  <button mat-raised-button color="primary" (click)="reloadPage()">Search</button>
</div>

<!-- Block for spare Cats Array -->
<div *ngIf="catsArrayByBreed">
  <mat-card *ngFor="let cat of catsArrayByBreed;trackBy: trackById" class="cat-card">
    <img mat-card-image [src]="cat.url" [alt]="cat.name" />
  </mat-card>
</div>